# Metrics
scipy>=1.11.2
numpy>=1.24.2
scikit-image>=0.21.0
opencv-python>=4.7.0.72
phasepack>=1.5

# Clustering
Keras==2.3.1
numpy==1.22.0
pandas==0.24.1
Pillow==9.0.1
scipy==1.4.1
tensorflow-gpu==2.7.2
Werkzeug==0.15.3
umap-learn==0.3.10
